<!DOCTYPE html>
{# {% include 'license.html.twig' %} #}
<!--[if IE 8]> <html lang="{{ app.request.locale }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="{{ app.request.locale }}" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale }}">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Ipiola.cl | {% block page_title %}{% endblock %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="{% block meta_description %}{% endblock %}" name="description" />
        <meta content="{% block meta_author %}{% endblock %}" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% block global_mandatoy_styles %}
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
            <link href="{{ asset('metronic/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('metronic/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('metronic/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block top_page_level_plugins %}
        {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        {% block theme_global_styles %}
            <link href="{{ asset('metronic/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
            <link href="{{ asset('metronic/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        {% block page_level_styles %}
        {% endblock %}
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        {% block theme_layout_styles %}
        {% endblock %}
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <!-- END HEAD -->

    <body class="{% block body_class %}{% endblock %}">
        {% block body %}
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="{{ asset('metronic/global/plugins/respond.min.js') }}"></script>
        <script src="{{ asset('metronic/global/plugins/excanvas.min.js') }}"></script>
        <script src="{{ asset('metronic/global/plugins/ie8.fix.min.js') }}"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        {% block core_plugins %}
            <script src="{{ asset('metronic/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('metronic/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('metronic/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('metronic/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
        {% endblock %}
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block bottom_page_level_plugins %}
        {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        {% block theme_global_scripts %}
            <script src="{{ asset('metronic/global/scripts/app.min.js') }}" type="text/javascript"></script>
        {% endblock %}
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        {% block page_level_scripts %}
        {% endblock %}
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        {% block theme_layout_scripts %}
        {% endblock %}
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>